version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "5123:5123"
    environment:
      - FLASK_ENV=production
      - MONGO_URI=mongodb://mongo:27017/image_caption_db
    depends_on:
      - mongo
    volumes:
      - ./backend/.env:/app/.env

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: